<?xml version="1.0"?>
<model>
  <name>Cathedral Wall</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Carlos</name>
    <email>carlos.viescas@tecnalia.com</email>
  </author>

  <description>
    A model of a wall with cathedral window texture.
  </description>

</model>